ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-left: 0;
}

ul li a {
    padding: .5rem 1rem;
}

.active {
    background: #005C8F;
    color: white;
}

ul li a:hover,
ul li a:active {
    background: #005C8F;
    color: white;
}