article {
    width: 55ch;
    margin: 0 auto; /* Old but still good */
    font-size: 1.25rem;
    font-family: 'Merriweather', serif;
}

article h1 {
    font-size: 4rem;
}

article h2 {
    font-size: 3rem;
}

article img {
    max-width: 100%;
    margin: 0 auto;
}